@model IEnumerable<MummyProject.Models.Burial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocationNs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocationEw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowPairNs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighPairNs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowPairEw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighPairEw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialSubplot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialDepth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouthToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SouthToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EastToHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EastToFeet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderGe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeEstimate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthOfRemains)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeFunctionTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderBodyCol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasilarSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VentralArc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubpubicAngle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SciaticNotch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubicBone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreaurSulcus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedialIpRamus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DorsalPitting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForemanMagnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumerusHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Osteophytosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubicSymphysis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoneLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedialClavicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IlacCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humerus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FemurLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HumerusLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TibiaLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Robust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupraorbitalRidges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrbitEdge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParietalBossing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gonian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NuchalCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZygomaticCrest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CranialSuture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumCranialLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumCranialBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionBregmaHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionNasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasionProsthionLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BizygomaticDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NasionProsthion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaximumNasalBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterorbitalBreadth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtifactDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresevationIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftTissueTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoneTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextileTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfTaken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtifactFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimateLivingStature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothAttrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToothEruption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PathologyAnomolies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpiphysealUnion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayFound)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadDirection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WrappingCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SexMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shelf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldNotes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocationNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocationEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowPairNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighPairNs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowPairEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighPairEw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialSubplot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialDepth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SouthToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SouthToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EastToHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EastToFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderGe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LengthOfRemains)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeFunctionTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderBodyCol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasilarSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VentralArc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubpubicAngle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SciaticNotch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubicBone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreaurSulcus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedialIpRamus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DorsalPitting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForemanMagnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumerusHead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osteophytosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubicSymphysis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoneLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedialClavicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IlacCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humerus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FemurLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HumerusLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TibiaLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Robust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupraorbitalRidges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrbitEdge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParietalBossing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gonian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NuchalCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZygomaticCrest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CranialSuture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumCranialBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionBregmaHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionNasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasionProsthionLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BizygomaticDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NasionProsthion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaximumNasalBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterorbitalBreadth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtifactDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresevationIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftTissueTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoneTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextileTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionOfTaken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtifactFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimateLivingStature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothAttrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToothEruption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathologyAnomolies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpiphysealUnion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayFound)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadDirection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WrappingCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldNotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BurialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BurialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BurialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
